
<ion-navbar *navbar>
	<div *ngIf="listItem">
		<ion-title>Edit Item</ion-title>
	</div>
</ion-navbar>

<ion-content class="page2">
	<div *ngIf="listItem">
		<ion-list>
			<ion-input>
				<ion-label fixed-label>Name</ion-label>
				<input type="text" name="name" id="name" [(ngModel)]="listItem.name"/>
			</ion-input>
			<ion-item>
				<ion-toggle checked="{{listItem.active}}" (change)="!listItem.active">Active</ion-toggle>
			</ion-item>
		</ion-list>

		<ion-input>
			<button default block>Choose Image</button>
		</ion-input>

		<ion-list>
			<ion-input>
				<ion-label fixed-label>Location</ion-label>
				<select [(ngModel)]="listItem.location">
					<option *ngFor="#opt of options" [value]="opt.value">{{opt.label}}</option>
				</select>
			</ion-input>
		</ion-list>
		<ion-input>
			<button default block (click)="save()">Save</button>
		</ion-input>
	</div>
</ion-content>
